<div class="card mb-4">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Choisissez une vidéo</p>
                </div>
                <div class="col-sm-9">
                    <select class="select form-control form-control-sm" id="link" name="link" (change)="setFileContent()" formControlName="link">
                        <option *ngFor="let vid of vidFiles" [value]="vid.link">{{ vid.link }}</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Durée</p>
                </div>
                <div class="col-sm-1">
                    <select class="select form-control form-control-sm" formControlName="timing">
                        <option *ngFor="let item of range(0, 59)" [value]="item">{{item}}</option>
                    </select>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-sm-3 d-flex justify-content-end mb-lg-2">
                    <!-- <button class="btn btn-dark btn-block fa-lg gradient-custom-2 border border-color-none" style="height: 40px;" type="button">Visual</button> -->
                    <button [disabled]="form.invalid" class="btn btn-primary btn-block fa-lg gradient-custom-2 border border-color-none" style="height: 40px;" type="submit">Ajouter</button>
                </div>
            </div>
        </div>
    </form>
</div>
