ion-spinner, .ionicon {
    width: 100px;
    height: 100px;
    margin: auto auto;
}

ion-item {
    --padding-start: 0;
}

ion-card {
    padding: auto auto;
}

.loading-container {
    margin: auto auto;
}

h4 {
    opacity: 0.8;
}