
<div class="card d-flex justify-content-center" style="margin-bottom: 5%;">
    <form [formGroup]="form" (ngSubmit)="submit()" id="configForm">
        <div class="card-body d-flex justify-content-center">
            <div class="col-sm-10">
                <div class="row mx-auto" style="width: 90%;">
                    <div class="col-sm-3 d-flex justify-content-start">
                        <label for="modeap" class="mb-0">Mode AP </label>
                    </div>
                    <div class="col-sm-1">
                        <input type="checkbox" name="modeap" id="modeap" class="form-check-input" formControlName="modeap" (click)="disable_ap()">
                    </div>
                </div>
                <hr>
                <div class="row mx-auto" style="width: 90%;">
                    <div class="col-sm-3 d-flex justify-content-start">
                        <label for="ssid" class="mb-0">SSID </label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="ssid" id="ssid" class="form-control form-control-sm" formControlName="ssid">
                    </div>
                </div>
                <hr>
                <div class="row mx-auto" style="width: 90%;">
                    <div class="col-sm-3 d-flex justify-content-start">
                        <label for="password" class="mb-0">PASSWORD </label>
                    </div>
                    <div class="col-sm-6">
                        <input type="password" name="password" id="password" class="form-control form-control-sm" formControlName="pass">
                    </div>
                </div>
                <hr>
                <div class="row mx-auto" style="width: 90%;">
                    <div class="col-sm-3 d-flex justify-content-start">
                        <label for="dhcp" class="mb-0">DHCP </label>
                    </div>
                    <div class="col-sm-1">
                        <input type="checkbox" name="dhcp" id="dhcp" class="form-check-input" formControlName="dhcp" (click)="disable()">
                    </div>
                </div>
                <hr>
                <!--<ion-row class="mx-auto">
                    <ion-col size="3">
                        <ion-item>
                            <input type="text" name="ip_1" id="ip_1" placeholder="{{ _disabled ? wifiConfig.ip[0]:''}}" class="form-control form-control-sm" formControlName="ip_1">
                        </ion-item>
                    </ion-col>
                    <ion-col size="3">
                        <ion-item>
                            <input type="text" name="ip_1" id="ip_1" placeholder="{{ _disabled ? wifiConfig.ip[0]:''}}" class="form-control form-control-sm" formControlName="ip_1">
                        </ion-item>
                    </ion-col>
                    <ion-col size="3">
                        <ion-item>
                            <input type="text" name="ip_1" id="ip_1" placeholder="{{ _disabled ? wifiConfig.ip[0]:''}}" class="form-control form-control-sm" formControlName="ip_1">
                        </ion-item>
                    </ion-col>
                    <ion-col size="3">
                        <ion-item>
                            <input type="text" name="ip_1" id="ip_1" placeholder="{{ _disabled ? wifiConfig.ip[0]:''}}" class="form-control form-control-sm" formControlName="ip_1">
                        </ion-item>
                    </ion-col>
                </ion-row>-->
                <div class="row mx-auto" style="width: 90%;">
                    <div class="col-sm-3 d-flex justify-content-start">
                    <label class="mb-0">IP </label>
                    </div>
                    <div class="col-sm-8">

                        <div class="row">
                            <div class="col-sm-2">
                                <input type="text" name="ip_1" id="ip_1" placeholder="{{ _disabled ? wifiConfig.ip[0]:''}}" class="form-control form-control-sm" formControlName="ip_1">
                            </div>.
                            <div class="col-sm-2">
                                <input type="text" name="ip_2" id="ip_2" placeholder="{{ _disabled ? wifiConfig.ip[1]:''}}" class="form-control form-control-sm" formControlName="ip_2">
                            </div>.
                            <div class="col-sm-2">
                                <input type="text" name="ip_3" id="ip_3" placeholder="{{ _disabled ? wifiConfig.ip[2]:''}}" class="form-control form-control-sm" formControlName="ip_3">
                            </div>.
                            <div class="col-sm-2">
                                <input type="text" name="ip_4" id="ip_4" placeholder="{{ _disabled ? wifiConfig.ip[3]:''}}" class="custom-text-input form-control form-control-sm" formControlName="ip_4">
                            </div>
                        </div>
                        <div class="row" *ngIf="error === 1" style="color: red; font-size: small;">
                            <div class="col-sm-6 ml-5">
                                Please enter number please.
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mx-auto" style="width: 90%;">
                    <div class="col-sm-3 d-flex justify-content-start">
                        <p class="mb-0">MASQUE</p>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="text" name="nm_1" id="nm_1" placeholder="{{ _disabled ? wifiConfig.netmask[0]:''}}" class="form-control form-control-sm" formControlName="nm_1">
                            </div>.
                            <div class="col-sm-2">
                                <input type="text" name="nm_2" id="nm_2" placeholder="{{ _disabled ? wifiConfig.netmask[1]:''}}" class="form-control form-control-sm" formControlName="nm_2">
                            </div>.
                            <div class="col-sm-2">
                                <input type="text" name="nm_3" id="nm_3" placeholder="{{ _disabled ? wifiConfig.netmask[2]:''}}" class="form-control form-control-sm" formControlName="nm_3">
                            </div>.
                            <div class="col-sm-2">
                                <input type="text" name="nm_4" id="nm_4" placeholder="{{ _disabled ? wifiConfig.netmask[3]:''}}" class="form-control form-control-sm" formControlName="nm_4">
                            </div>
                        </div>
                        <div class="row" *ngIf="error === 2" style="color: red; font-size: small;">
                            <div class="col-sm-6 ml-5">
                                Please enter number please.
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mx-auto" style="width: 90%;">
                    <div class="col-sm-3 d-flex justify-content-start">
                    <p class="mb-0">PASSERELLE</p>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="text" name="gw_1" id="gw_1" placeholder="{{ _disabled ? wifiConfig.gateway[0]:''}}" class="form-control form-control-sm" formControlName="gw_1">
                            </div>.
                            <div class="col-sm-2">
                                <input type="text" name="gw_2" id="gw_2" placeholder="{{ _disabled ? wifiConfig.gateway[1]:''}}" class="form-control form-control-sm" formControlName="gw_2">
                            </div>.
                            <div class="col-sm-2">
                                <input type="text" name="gw_3" id="gw_3" placeholder="{{ _disabled ? wifiConfig.gateway[2]:''}}" class="form-control form-control-sm" formControlName="gw_3">
                            </div>.
                            <div class="col-sm-2">
                                <input type="text" name="gw_4" id="gw_4" placeholder="{{ _disabled ? wifiConfig.gateway[3]:''}}" class="form-control form-control-sm" formControlName="gw_4">
                            </div>
                        </div>
                        <div class="row" *ngIf="error === 3" style="color: red; font-size: small;">
                            <div class="col-sm-6 ml-5">
                                Please enter number please.
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mx-auto" style="width: 90%;">
                    <div class="col-sm-3 d-flex justify-content-start">
                    <p class="mb-0">DNS</p>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="text" name="dns_1" id="dns_1" placeholder="{{ _disabled ? wifiConfig.dns[0]:''}}" class="form-control form-control-sm" formControlName="dns_1">
                            </div>.
                            <div class="col-sm-2">
                                <input type="text" name="dns_2" id="dns_2" placeholder="{{ _disabled ? wifiConfig.dns[1]:''}}" class="form-control form-control-sm" formControlName="dns_2">
                            </div>.
                            <div class="col-sm-2">
                                <input type="text" name="dns_3" id="dns_3" placeholder="{{ _disabled ? wifiConfig.dns[2]:''}}" class="form-control form-control-sm" formControlName="dns_3">
                            </div>.
                            <div class="col-sm-2">
                                <input type="text" name="dns_4" id="dns_4" placeholder="{{ _disabled ? wifiConfig.dns[3]:''}}" class="form-control form-control-sm" formControlName="dns_4">
                            </div>
                        </div>
                        <div class="row" *ngIf="error === 4" style="color: red; font-size: small;">
                            <div class="col-sm-6 ml-5">
                                Please enter number please.
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="row">
                    <div class="d-flex justify-content-end mb-lg-2">
                        <p class="mr-4" id="message" style="color: #007bff; font-size: large; " ></p>
                        <ion-button expand="block" color="primary" type="submit" [disabled]="form.invalid" class="fa-lg gradient-custom-2 border border-color-none me-4">
                            Sauvegarder
                        </ion-button> <!-- style="height: 40px;-->
                    </div>
                </div>

                <div style="font-size: small;">
                    <hr>
                    <div class="row mx-auto" style="width: 90%;">
                        <div class="col-sm-6">
                            <strong>Connection State: </strong>
                            <span *ngIf="!connectionState">N/A</span>
                            <span *ngIf="connectionState"> {{connectionState}} </span>
                        </div>
                    </div>
                    <hr>
                    <div class="row mx-auto" style="width: 100%;">
                        <div class="col-sm-4 ms-3 mb-2">
                            <strong>Networks: </strong><span #numNets></span>
                        </div>
                        <div class="col-sm-12">
                            <div class="card64">
                                <div class="card-body2">
                                    <table border="0" cellspacing="3" style="width: 100%">
                                        <thead bgcolor='#DDDDDD'>
                                        <tr>
                                            <th style="width: 6%">SSID</th>
                                            <th>Channel</th>
                                            <th style="width: 5%">Secure</th>
                                            <th>RSSI</th>
                                        </tr>
                                        </thead>
                                        <tbody id="networks" style="min-height: 100px;" *ngIf="networks">
                                            <tr *ngFor="let network of networks" class="my-1">
                                                <td (click)="test(network.ssid)" class="btn btn-primary btn-block fa-lg gradient-custom-2 border border-color-none mb-2 w-75 h-50">{{ network.ssid }}</td>
                                                <td>{{ network.channel }}</td>
                                                <td>{{ network.secure }}</td>
                                                <td>{{ network.rssi }}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>
					                                <ion-button expand="block" color="dark" (click)="refresh()" type="button" class="fa-lg gradient-custom-2 border border-color-none w-75">
					                                    Refresh
					                                </ion-button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
