<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Espace Administrateur
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container" xmlns="http://www.w3.org/1999/xhtml">

        <div class="main-container md-8">
            <section>

                <div class="container py-1">

                    <div class="row row-cols-2 row-cols-md-2 ms-0 mx-3 text-center" style="display: flex; justify-content: center;" >
                        <div class="col mb-4">
                            <ion-card class="h-100 w-100 d-flex ion-justify-content-center ion-align-items-center px-4 py-2" style="border-radius: 20px" (click)="toggleVisibility(1)" [class]="visibility === 1 ? 'active' : ''">
                                <h4 class="my-auto">General Configuration</h4>
                            </ion-card>
                        </div>
                        <div class="col mb-4">
                            <ion-card class="h-100 w-100 d-flex ion-justify-content-center ion-align-items-center px-4 py-2" style="border-radius: 20px" (click)="toggleVisibility(2)" [class]="visibility === 2 ? 'active' : ''">
                                <h4 class="my-auto">Network Configuration</h4>
                            </ion-card>
                        </div>
                        <div class="col mb-4">
                            <ion-card class="h-100 w-100 d-flex ion-justify-content-center ion-align-items-center px-4 py-2" style="border-radius: 20px" (click)="toggleVisibility(3)" [class]="visibility === 3 ? 'active' : ''">
                                <h4 class="my-auto">Network Informations</h4>
                            </ion-card>
                        </div>
                        <div class="col mb-4">
                            <ion-card class="h-100 w-100 d-flex ion-justify-content-center ion-align-items-center px-4 py-2" style="border-radius: 20px" (click)="toggleVisibility(4)" [class]="visibility === 4 ? 'active' : ''">
                                <h4 class="my-auto">System Settings</h4>
                            </ion-card>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-9 mx-auto">

                            <div class="settings mt-2">
                                <div *ngIf="visibility === 0">
                                    <ion-card class="mx-auto">
                                        <ion-card-content class="text-center mb-4 d-flex ion-align-items-center" style="height: 350px; width: 100%;">
                                            <h3 class="sub-title"> Choose a setting ! </h3>
                                        </ion-card-content>
                                    </ion-card>
                                </div>
                                <div *ngIf="visibility === 1" style="width: 100%;">
                                    <app-global-information></app-global-information>
                                </div>
                                <div *ngIf="visibility === 2">
                                    <app-network-configuration></app-network-configuration>
                                </div>
                                <div *ngIf="visibility === 3">
                                    <app-network-information></app-network-information>
                                </div>
                                <div *ngIf="visibility === 4">
                                    <app-system-settings></app-system-settings>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </section>

        </div>

    </div>

</ion-content>
