
<ion-card class="mx-auto d-flex ion-align-items-center ion-justify-content-center">
    <ion-card-content style="width: 90%;">
        <hr class="mx-auto mb-4" style="width: 70%;">
        <ion-row class="mx-auto" style="width: 80%;">
            <ion-col size="8"><h6 class="mb-0">Wifi Mode :</h6></ion-col>
            <ion-col size="4"><span class="ms-2 d-flex ion-justify-content-end" style="font-size: small" >{{wifiConfig.x_Wifi_Mode}}</span></ion-col>
        </ion-row>
        <hr class="mx-auto" style="width: 90%;">
        <ion-row class="mx-auto" style="width: 80%;">
            <ion-col size="8"><h6 class="mb-0">SSID :</h6></ion-col>
            <ion-col size="4"><span class="ms-2 d-flex ion-justify-content-end" style="font-size: small" >{{wifiConfig.x_ssid}}</span></ion-col>
        </ion-row>
        <hr class="mx-auto" style="width: 90%;">
        <ion-row class="mx-auto" style="width: 80%;">
            <ion-col size="8"><h6 class="mb-0">IP :</h6></ion-col>
            <ion-col size="4"><span class="ms-2 d-flex ion-justify-content-end" style="font-size: small" >{{wifiConfig.x_ip}}</span></ion-col>
        </ion-row>
        <hr class="mx-auto" style="width: 90%;">
        <ion-row class="mx-auto" style="width: 80%;">
            <ion-col size="8"><h6 class="mb-0">Netmask :</h6></ion-col>
            <ion-col size="4"><span class="ms-2 d-flex ion-justify-content-end" style="font-size: small" >{{wifiConfig.x_netmask}}</span></ion-col>
        </ion-row>
        <hr class="mx-auto" style="width: 90%;">
        <ion-row class="mx-auto" style="width: 80%;">
            <ion-col size="8"><h6 class="mb-0">Gateway :</h6></ion-col>
            <ion-col size="4"><span class="ms-2 d-flex ion-justify-content-end" style="font-size: small" >{{wifiConfig.x_gateway}}</span></ion-col>
        </ion-row>
        <hr class="mx-auto" style="width: 90%;">
        <ion-row class="mx-auto" style="width: 80%;">
            <ion-col size="8"><h6 class="mb-0">DNS :</h6></ion-col>
            <ion-col size="4"><span class="ms-2 d-flex ion-justify-content-end" style="font-size: small" >{{wifiConfig.x_dns}}</span></ion-col>
        </ion-row>
        <hr class="mx-auto" style="width: 90%;">
        <ion-row class="mx-auto" style="width: 80%;">
            <ion-col size="8"><h6 class="mb-0">Mac :</h6></ion-col>
            <ion-col size="4"><span class="ms-2 d-flex ion-justify-content-end" style="font-size: small" >{{wifiConfig.x_mac}}</span></ion-col>
        </ion-row>
        <hr class="mx-auto mb-4" style="width: 70%;">
        
    </ion-card-content>
</ion-card>
