
<ion-card class="mx-auto d-flex ion-align-items-center ion-justify-content-center" style="font-size: small; margin-bottom: 5%;">
    <ion-card-content class="my-4 mx-2" style="width: 100%;">
        <ion-row>
            <ion-col size="12">
                <h4 class="sub-title"> FS Editor
                    <hr class="mb-2">
                </h4>
                <div class="d-flex justify-content-end mb-lg-2" >
                    <ion-button block color="primary" type="button" (click)="edit()" >
                        Edit
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <h4 class="sub-title"> Restarting
                    <hr class="mb-2">
                </h4>
                <div class="d-flex justify-content-end mb-lg-2" >
                    <ion-button block color="primary" type="button" (click)="restartESP()" >
                        Restart
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <h4 class="sub-title"> OTA Upgrade
                    <hr class="mb-2">
                </h4>
                <div class="d-flex justify-content-end mb-lg-2" >
                    <ion-button block color="primary" type="button" (click)="update()" >
                        Update
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-card>

<ion-card class="mx-auto" style="font-size: small; margin-bottom: 35%;">
    <ion-card-header>
        <ion-card-title>
            <div class="col-sm-10">
                Screen Brightness
                <hr>
            </div>
        </ion-card-title>
    </ion-card-header>
    <ion-card-content class=" d-flex ion-align-items-center ion-justify-content-center mb-4" style="width: 100%;">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="d-flex justify-content-center" style="width: 120%;">
                <ion-row class="mx-auto">
                    <ion-col size="9"><p class="mb-0">Lighting: <span #light style="color: var(--ion-color-primary);"></span></p></ion-col>
                    <ion-col size="3"><p class="mb-0">Auto</p></ion-col>
                    <ion-col size="9">
                        <ion-range #lighting min="0" max="8" pin="true" snaps="true" step="1" ticks="true" value="0" color="primary" (ionChange)="rangeChange($event)" formControlName="lighting">
                            <ion-icon size="small" slot="start" name="sunny"></ion-icon>
                            <ion-icon slot="end" name="sunny-outline"></ion-icon>
                        </ion-range>
                    </ion-col>
                    <ion-col size="3">
                        <ion-item lines="none">
                            <ion-checkbox class="my-auto mx-auto" formControlName="auto" (click)="disable()"></ion-checkbox>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </div>
            <hr>
            <div class="d-flex justify-content-end mb-lg-2" >
                <ion-button expand="block" [disabled]="form.invalid" color="primary" type="submit" fill="solid">
                    Save
                </ion-button>
            </div>
        </form>

    </ion-card-content>
</ion-card>
