
<div class="card mb-4 d-flex justify-content-center" style="font-size: small; margin-bottom: 5%;">
    <div class="card-body">

        <div class="row mt-5 mb-2">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h4 class="sub-title"> FS Editor
                    <hr class="mb-2">
                </h4>
                <div class="d-flex justify-content-end mb-lg-2" >
                    <ion-button block color="primary" type="button" class="fa-lg gradient-custom-2 border border-color-none" (click)="edit()" >
                        Edit
                    </ion-button>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h4 class="sub-title"> Restarting
                    <hr class="mb-2">
                </h4>
                <div class="d-flex justify-content-end mb-lg-2" >
                    <ion-button block color="primary" type="button" class="fa-lg gradient-custom-2 border border-color-none" (click)="restartESP()" >
                        Restart
                    </ion-button>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h4 class="sub-title"> OTA Upgrade
                    <hr class="mb-2">
                </h4>
                <div class="d-flex justify-content-end mb-lg-2" >
                    <ion-button block color="primary" type="button" class="fa-lg gradient-custom-2 border border-color-none" (click)="update()" >
                        Update
                    </ion-button>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h4 class="sub-title">
                    <hr class="mb-4">
                </h4>
            </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="submit()" id="wwwAuthForm" action="" method="get">
            <div class="d-flex justify-content-center mt-2">
                <div class="col-sm-10">
                    <ion-row class="mx-auto" style="width: 95%;">
                        <ion-col size="3"><label for="wwwuser" class="mt-3 ms-3">User: </label></ion-col>
                        <ion-col>
                            <ion-item lines="none">
                                <input style="border: solid black;" type="text" name="wwwuser" id="wwwuser" class="form-control form-control-sm" formControlName="user">
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <hr>
                    <ion-row class="mx-auto" style="width: 95%;">
                        <ion-col size="3"><label for="wwwpass" class="mt-3 ms-3">Password: </label></ion-col>
                        <ion-col>
                            <ion-item lines="none">
                                <input style="border: solid black;" type="password" id="wwwpass" name="wwwpass" class="form-control form-control-sm" formControlName="pass">
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-6">
                            <p class="ms-1" id="submitResult" style="color: red; font-size: small; "></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-6">
                            <p class="mb-0">Notice password is used for HTTP Auth, AP Mode and OTA</p>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-end mb-lg-2" >
                        <ion-button block color="primary" type="submit" class="fa-lg gradient-custom-2 border border-color-none" href="/tabs/update" >
                        	Save
                    	</ion-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
