<ion-header [translucent]="true">
<ion-toolbar>
    <ion-title>Mise à jour</ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Mise à jour</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">

        <div class="card my-4 d-flex justify-content-center" style="height: 85%;">
            <form [formGroup]="form" (ngSubmit)="send()" enctype='multipart/form-data'>
                <div class="card-body mx-auto d-flex justify-content-center">

                    <div class="col-sm-10" style=" width: 90%">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>Upload the file</h4>
                            </div>
                            <div class="col-sm-8">
                                <input #fileInput class="form-control form-control-sm" id="fileName" type='file' name='update' formControlName="file"
                                    accept=".ino.bin"
                                    (change)="summd5($event)" style="border: solid black;">
                            </div>
                        </div>
                        <hr class="mb-2">
                        <div class="mb-2" *ngIf="lvl">
                            <div class="row d-flex justify-content-end mb-1">
                                <div class="col-sm-9 mb-2 d-flex justify-content-end">
                                    <label for="confirm">Veuillez confirmer votre identité pour effectuer la mise à
                                        jour...</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="confirm" id="confirm" placeholder="Mot de passe" formControlName="confirm"
                                        class="form-control form-control-sm" style="border: solid black">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="button d-flex justify-content-end mb-4" id="updateButton2">
                                <button class="btn btn-primary btn-block fa-lg gradient-custom-2 border border-color-none"
                                        style="margin-left: 20px; height: 40px;"
                                        id="updateButton" type="submit" [disabled]="disabled" >Mettre à jour
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div hidden #md5row>
                            <div class="row">
                                <div class="col-sm-4">
                                    Calculated file MD5 hash: <span #clientHash> Select a file</span> <span #hash hidden></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    Size: <span #fileSize></span> Bytes
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                Checking if remote update is possible...
                            </div>
                            <div class="col-sm-6" *ngIf="isUpdatePossible">
                                <span id="remupd" style="color: #009dff;">{{ isUpdatePossible }}</span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <span id="remupdResult" style="color: #009dff;"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </ion-content>

</ion-content>
