
<ion-card class="mx-auto d-flex ion-align-items-center ion-justify-content-center" style="height: 400px; width: 100%;">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <ion-card-content style="width: 100%;">
            <ion-item>
                <ion-input type="text" label="  Device name" labelPlacement="floating" placeholder="Device name" formControlName="devicename"></ion-input>
            </ion-item>
            <hr class="mb-4">
            <div class="row">
                <div class="d-flex justify-content-end mb-lg-2" >
                    <ion-button [disabled]="form.invalid" expand="block" color="primary" type="submit">
                        Save
                    </ion-button>
                </div>
            </div>
        </ion-card-content>
    </form>
</ion-card>